
  <h1>Stupid Coaching</h1>
  <br>
  <p><strong>Ask your coach anything:</strong></p>
  <form class="form" action="/answer">
    <input class="input1" type="text" name="answer">
    <input class="input2" type="submit" value="Ask">
  </form>
